body{
  margin:20px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #515DEF;
  color: white;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 56px;
  margin-right: 400px;
  font-size: 18px;
  
}
.logo{ 
  margin-left: 20px;
  height: 36px;
  padding: 20px;
  background-color: #515DEF;
}
a{
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  
}
nav button{
  background-color: #515DEF;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  border-style: hidden;
}
.main{
  background-color: #515DEF;
  color: white;
  padding: 80px; 
  width: 55%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main div{
  font-size: 20px;
}
h1{
  font-size: 58px;
}
.main button{
  background-color: #FBFBFB;
  margin-top: 30px;  
}
.main button a{
  color: black;

}
.articles{
  display: flex;
  gap:24px;
  width:70%;
}